.item-link {
  text-decoration: none;
}

.lists {
  list-style-type: none;
  border: 2px solid #ffffff;
  border-radius: 16px;
  padding: 16px;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-family: 'Bree Serif';
  margin: 16px;
  height: 150px;
  width: 300px;
}

.team-image {
  height: 80px;
  width: 80px;
  margin-right: 24px;
}

.team-name {
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}
